/* 공통 음료 목록 */
.ediya-menu {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
}

/* 공통 음료 아이템 */
.ediya-menu__item {
  width: 100%;
  background-color: var(--theme-bright2);
  /* sass로 더 간단하게 가능 */
  margin-top: 20px;
  height: 400px;
  position: relative;
}

.ediya-menu__item:first-child {
  margin-top: 0;
}

.ediya-menu__item [role="button"] {
  display: block;
  /* 클릭범위 넓히기 */
  /* background: lightgray; */
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.ediya-menu figure {
  margin: 0;
  /* agent style 초기화 */
  padding: 20px 0 40px;
  text-align: center;
  /* 모두 가운데정렬 */
  margin-bottom: 20px;
}

.ediya-menu__item img {
  transform: scale(0.85);
  transition: all 0.3s;
  /* scale 값이 변하면  */
}

.ediya-menu__item [role="button"]:hover img {
  transform: scale(1);
}

/* 공통 음료 상세 정보 */

.ediya-menu__item--detail {
  width: 100%;
  height: 100%;
  /* t0, l0, r0, b0 으로 꽉차보이게 만들수도 있다 */
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border: 1px solid darkblue;
  padding: 40px 20px;
}

.ediya-menu__item--detail .is-close-panel {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
  /* 기본 padding값으로 인해 클릭범위가 살짝 넓을것 */
}

.ediya-menu__item--name {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--theme-dark);
}

.ediya-menu__item--name [lang="en"] {
  color: var(--theme-disable);
  font-size: 1.4rem;
  display: block;
}

.ediya-menu__item--multi-column {
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  column-count: 2;
  column-rule: 1px solid var(--theme-dark);
  padding: 10px 0;
}

.ediya-menu__item--detail dl {
  margin-top: 0;
  font-size: 0em;
  padding-bottom: 15px;
}

.ediya-menu__item--multi-column dt,
.ediya-menu__item--multi-column dd {
  display: inline-block;
  width: 50%;
  font-size: 1.3rem;
  text-indent: 20px;
  margin-top: 15px;
}

.ediya-menu__item--multi-column dd {
  margin-left: 0;
}

/* float:left 이용하는 방법 */
/* .ediya-menu__item--multi-column dt {
  margin: 0;
  float: left;
  width: 50%;
}

.ediya-menu__item--multi-column dd {
  margin-left: 0;
  float: left;
  width: 50%;
} */

@media all and (max-width: 767px) {

  /* 모바일 음료 목록 */
  .ediya-menu {
    display: flex;
    flex-flow: column wrap;
  }

}

@media all and (min-width: 768px) {

  /* 데스크탑 음료 목록 */
  .ediya-menu {
    width: 740px;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    /* background: gold;  */
  }

  .ediya-menu__item {
    width: 360px;
    /* height: 400px; */
  }

  .ediya-menu__item:nth-child(2) {
    margin-top: 0;
  }
}